
table td {
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table th {
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.titulo1{
    color: #ee330f;

}

.titulo2{
    color: #ee330f;
    margin-left: 9px;

}
.partida {
    color: #444cee;
    margin-left: 17px;
}

.titulo {
    color: #ee330f;
}

